body {
    font-family: Arial, Helvetica, sans-serif;
}

.paid {
    color: green;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, tc {
    padding: 10px;
}